<!DOCTYPE HTML>
<!--/* 
        Le contrôleur transmet deux informations à cette vue :
                - galeries : la liste des galeries à afficher
                - message : un éventuel message d'erreur ou d'information
*/-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste des tableaux</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>	
    </head>
    <body>
        <h1>Les tableaux</h1>
        <!--/* On appelle l'URL 'add' du contôleur */-->
        <a th:href="@{add}" href='formulaireTableau.html'>Ajouter un tableau</a>
        <!--/* On affiche un éventuel message d'erreur */-->
        <h3 th:text="${message}">Message de succès ou d'erreur</h3>				
        <table>
            <tr>
                <th>Titre</th>
                <th>Support</th>
                <th>Dimensions</th>
                <th>Auteur</th>
                <th>Action</th>
            </tr>	
            <!--/*<tr>
            <td>aaa</td>
            <td>bbb</td>
            <td>aaa</td>
            <td>bbb</td>
            <td>aaa</td>
            </tr>*/-->
            <tr th:each="t: ${tableaux}">
                <td th:text="${t.titre}">Exemple titre</td>
                <td th:text="${t.support}">Exemple support</td>
                <!--/*dimensions : largeur et hauteur*/-->
                <!--/*<td th:text="${t.largeur} x ${t.hauteur}">Exemple dimensions</td>*/-->
                <td th:text="$(t.largeur}">Exemple largeur</td>
                <td>Exemple auteur</td>
                <td>aaa
                    <!--/*<a th:href="@{delete(id=${t.id})}">Supprimer le tableau n° [[${t.id}]]</a>*/-->
                </td>
            </tr>
        </table>
    </body>
</html>
