<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Liste des galeries</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
    </head>

    <body>
        <h1>Les galeries et leurs expositions</h1>
        <a href="add">Ajouter une galerie</a>
        <ul>
            <li>Nom : <em th:each=="galerie : ${galerie.nom}" th:text="${g}">Machin</em>, Adresse : <em th:text="${message}">Ici</em></li>
            <ul>
                <li th:each="e : ${noms}" th:text="${e}"/>
            </ul>
        </ul>
        <a href="/">Retour au menu</a>
    </body>
    
</html>